# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=job_market
DB_USER=postgres
DB_PASSWORD=your_password

# API Keys
ADZUNA_APP_ID=your_adzuna_app_id
ADZUNA_APP_KEY=your_adzuna_app_key

# Airflow
AIRFLOW_HOME=./pipelines/airflow

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000
